# -------------------------------
# Data and results (ignore contents, keep folder)
# -------------------------------
data/*
!data/.gitkeep

# Allow DLPFC and specific .h5ad files
!data/DLPFC/
!data/DLPFC/151673.h5ad
!data/DLPFC/151674.h5ad

results/*
!results/.gitkeep

# -------------------------------
# Python cache and compiled files
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# -------------------------------
# Jupyter Notebook checkpoints
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# System files
# -------------------------------
.DS_Store
Thumbs.db
desktop.ini

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# IDE / Editor
# -------------------------------
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# -------------------------------
# Ignore Louvain file
# -------------------------------
louvain
