# Ignore data and results
data/
results/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
venv/
*.ipynb_checkpoints

# Ignore system files
.DS_Store
Thumbs.db
