# -------------------------------
# Data and results (ignore contents, keep folder)
# -------------------------------
data/*
!data/.gitkeep
results/*
!results/.gitkeep

# -------------------------------
# Python cache and compiled files
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# -------------------------------
# Jupyter Notebook checkpoints
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# System files
# -------------------------------
.DS_Store
Thumbs.db
desktop.ini

# -------------------------------
# Logs
# -------------------------------
*.log

# -------------------------------
# IDE / Editor
# -------------------------------
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# -------------------------------
# Ignore Louvain file
# -------------------------------
louvain